<!DOCTYPE html>
<html lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Vegetable Shop</title>

    <!-- Boostrap 5.3 CSS-->
    <link rel="stylesheet" th:href="@{/bootstrap-5.3/bootstrap.min.css}">
    <!-- Boostrap 5.3 JS-->
    <script th:src="@{/bootstrap-5.3/bootstrap.bundle.min.js}"></script>
    <!-- Core theme JS-->
    <script th:src="@{js/script.js}"></script>

    <style>
        .ms-n5 {
            margin-left: -40px;
        }

        .ms-n5:hover {
            color: var(--bs-primary);
        }
    </style>
</head>
<body>

</body>
</html>