<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/header :: header}">
    <meta charset="utf-8"/>
    <title>Vegetable Shop</title>
</head>
<body>
<!-- Navigation-->
<nav th:replace="~{fragments/navigation :: navigation}">
</nav>
<!-- Section-->
<section class="py-5" style="min-height: 1000px;">
    <div class="row">
        <div class="col-12 col-md-3 ps-md-5">
            <div class="container mt-5 px-4 px-lg-2">
                <div class="d-flex flex-column justify-content-center border border-secondary-subtle">
                    <ul class="list-group list-group-flush">
                        <h3 class="list-group-item">Category</h3>
                        <a href="#" class="list-group-item list-group-item-action">An item</a>
                        <a href="#" class="list-group-item list-group-item-action active">A second item</a>
                        <a href="#" class="list-group-item list-group-item-action">A third item</a>
                        <a href="#" class="list-group-item list-group-item-action">A fourth item</a>
                        <a href="#" class="list-group-item list-group-item-action">And a fifth one</a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="px-4 px-lg-5 mt-5 ">
                <div
                        class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"
                >

                    <div id="list-vegetable" th:each="vegetable : ${vegetables} " class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img
                                    class="card-img-top"
                                    th:src="@{${vegetable.getImage()}}"
                                    src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
                                    alt="..."
                            />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 th:utext="${vegetable.getVegetableName()}" class="fw-bolder">
                                        Fancy Product
                                    </h5>
                                    <!-- Product price-->
                                    <span th:utext="${vegetable.getPriceFormat()} + 'đ'">$40.00</span>
                                    <div>
                                        <span class="fw-semibold">Tồn kho:</span>
                                        <span th:utext="${vegetable.getAmount()}"></span>
                                    </div>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <div class="d-flex justify-content-center mb-2 align-items-center">
                                        <button class="minus-button mx-1 btn btn-primary"><i class="bi bi-dash-lg" style="font-size: 14px;"></i></button>
                                        <div class="quantity mx-3 h-100 fs-4">1</div>
                                        <button class="plus-button mx-1 btn btn-primary"><i class="bi bi-plus-lg" style="font-size: 14px;"></i></button>
                                    </div>
                                    <button th:attr="data-id=${vegetable.getVegetableID()}"
                                            class="btn btn-outline-dark mt-auto add-to-cart">
                                        Add to cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<!--<div id="sidebar-cart" class="sidebar-cart shadow">-->
<!--    <div class="d-flex flex-column">-->
<!--        <div class="col-auto mt-3 d-flex justify-content-between">-->
<!--            <div class="ps-3">-->
<!--                <h3>Giỏ hàng</h3>-->
<!--            </div>-->
<!--            <div id="close-sidebar-cart-button" class="icon-button text-center me-2">-->
<!--                <i class="bi bi-x-lg"></i>-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr />-->

<!--        &lt;!&ndash; Item  &ndash;&gt;-->
<!--        <div class="col-auto d-flex ">-->
<!--            <div class="col-auto px-3">-->
<!--                <img src="https://cdn.shopify.com/s/files/1/0206/9470/products/1222-done_medium.jpg?v=1593492703"-->
<!--                     style="height: 100px; width: 100px;"-->
<!--                     class="img-fluid rounded-start" alt="...">-->
<!--            </div>-->
<!--            <div class="col-auto">-->
<!--                <h5 class="card-title">Bắp cải xanh</h5>-->
<!--                <div class="row g-3 align-items-center">-->
<!--                    <div class="col-auto">-->
<!--                        <label class="col-form-label">-->
<!--                            <span class="fw-semibold">Số lượng</span>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                        <input type="number"-->
<!--                               style="max-width: 100px; height: 30px;"-->
<!--                               class="form-control"-->
<!--                               value="1"-->
<!--                        >-->
<!--                    </div>-->
<!--                    <div class="col-auto">-->
<!--                        <label class="col-form-label">-->
<!--                            kg-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <h5 class="card-text">30.000đ</h5>-->
<!--                <hr />-->
<!--                <div class="col-auto d-flex flex-column">-->
<!--                    <button type="button" class="btn btn-outline-danger">-->
<!--                        <i class="bi bi-trash3-fill"></i>-->
<!--                        Xóa-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


<!--    </div>-->
<!--</div>-->

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">
            Copyright &copy; Your Website 2023
        </p>
    </div>
</footer>

<script>
    // Listener for each add to cart button
    const listVegetableButtonEle = document.querySelectorAll('#list-vegetable .add-to-cart');
    for (const vegetableButtonEle of listVegetableButtonEle) {
        const minusButton = vegetableButtonEle.parentNode.querySelector('.minus-button');
        const plusButton = vegetableButtonEle.parentNode.querySelector('.plus-button');
        const textQuantityEle = vegetableButtonEle.parentNode.querySelector('.quantity');

        vegetableButtonEle.addEventListener('click', (e) => {
            const id = e.target.dataset.id;
            const quantity = textQuantityEle.innerHTML;
            window.location.href = `/cart?vegetableId=${id}&quantity=${quantity}`;
        })

        minusButton.addEventListener('click', (e) => {
            const number = parseInt(textQuantityEle.innerHTML) - 1;
            textQuantityEle.innerHTML = number.toString();
        })

        plusButton.addEventListener('click', (e) => {
            const number = parseInt(textQuantityEle.innerHTML) + 1;
            textQuantityEle.innerHTML = number.toString();
        })
    }

    // const cartButtonEle = document.querySelector('#cart-button');
    // const sideBarCartEle = document.querySelector('#sidebar-cart');
    // const closeSideBarCartButton = document.querySelector('#close-sidebar-cart-button');
    // // Open sidebar cart
    // cartButtonEle.addEventListener('click', (e) => {
    //     sideBarCartEle.classList.toggle('open-cart');
    // });
    //
    // // Click close button on sidebar cart
    // closeSideBarCartButton.addEventListener('click', (e) => {
    //     sideBarCartEle.classList.toggle('open-cart');
    // });
</script>

</body>
</html>
